:root{
    --bgColor1: rgb(26, 152, 51);
    --bgColor2: rgb(15, 97, 31);
    --mainColor: #FFFFFF;
    --colorResalte: rgb(205, 230, 192); 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Rockwell;
    background: var(--colorResalte);
}
header, .contenidoInformativo{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}
header{
    background: var(--bgColor1);
    background-image: url("images/fondo_campo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flexbox;
    justify-content: space-between;
    background-position-y: bottom;
}
.cabecera{
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.cabecera .botones{
    margin-top: 10px;
    margin-left: 150px;
}
header, aside, header a, aside a{
    color: var(--mainColor);
    text-decoration: none;
}
header img, .Titulo{
    font-size: 50px;
    justify-content: space-between;
}

/*lista de la navegacion  */
.navegacion li{
    display: inline-block;
    list-style:none;
    padding: 20px;
}

header li a{
    color: var(--mainColor);
    font-weight: bold;
    border-bottom: 2px solid transparent;
    padding: 25px 25px;
    transition: all 0.2s;
}
header li a:hover{
    color: var(--colorResalte);
    border-bottom: 2px solid var(--colorResalte);
}

.contenidoInformativo h2{
    font-size: 36px;
    line-height: 2em;
    padding: 0 10px;
}
.contenidoInformativo{
    text-shadow: black 7px 5px 6px;
    margin-top: 5px;
    display: flexbox;
    background: linear-gradient(90deg, var(--bgColor1) 0%, var(--bgColor2) 75%);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--mainColor);
}
.contenidoInformativo .contenido{
    width: 55%;
}
.contenidoInformativo ul{
    line-height: 2em;
    vertical-align: middle;
}
.contenidoInformativo img{
    position: absolute;
    right: 0;
}

.articles{
    margin-left: 10px;
    background: var(--mainColor);
    text-align: justify;
    padding: 20px;
    float: left;
    width: 65%;
}
article{
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1.7em;
}

aside{
    background: var(--bgColor1);
    float: left;
    width: 31%;
    margin-left: 10px;
    padding: 20px;
    padding-bottom: 50px;
}
.pie{
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: var(--bgColor1);
    color: var(--mainColor);
}

aside div{
    margin-bottom: 10px;
}
.articles img, .articles video, iframe{
    width: 500px;
    padding: 20px;
    margin-bottom: 10px;
}
p, table, td, th{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

article li{
    margin: 40px;
}
.enlaces{
    background-color: var(--bgColor1);
    padding: 8px;
}
.ucl, .clib, .fifa, .enlaces{
    text-decoration: none;
    color: var(--mainColor);
    border-radius: 50px;
    transition: all 0.5s;
}
.ucl, .clib, .fifa{
    padding: 20px;
}

.ucl:hover, .clib:hover, .fifa:hover, .enlaces:hover{
    opacity: 0.7;
}

/* imagenes de contenidoInformativo */
.ucl, #ucl{
    background-image: url("images/ucl.jpg");
}
.clib, #clib{
    background-image: url("images/clib.jpg");
    background-position-y: top;
}
.fifa{
    background-image: url("images/fondo_campo.jpg");
}
#uel{
    background-image: url("images/uel.jpg");
    background-position-y: bottom;
}

#argentina{
    background-image: url("images/argentina.jpg");
}
.messi{
    top: 217px;
}
.trofeoUcl{
    top: 270px;
}
.trofeoUel{
    top: 270px;
}
.trofeocLib{
    top:360px;
}